<!DOCTYPE html>
<html>

<head>
  <title>Вход</title>
  <meta charset="utf-8" />
</head>

<body>
  <h1>Вход</h1>
  <form action="postUser" method="POST">
    <label>Имя</label>
    <input name="name" /><br><br>
    <label>Пароль</label>
    <input name="password" type="password" /><br><br>
    <input type="submit" value="Отправить" />
  </form>
  <a href="/create">На главную</a>
</body>
<html>